
.welcome-container {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/imgs/index_bg2.jpg");
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-content{
    color: white;
    font-size: 18px;
}

.home-btn{
    background-color: inherit;
}
